/* VARIABILI GENERALI */
$bg-header: #FFFFFF;
$color-header-selected: #0282F9;
$bg-main: #1C1C1C;
$bg-footer-top: #0282F9;
$color-footer-mid-options: #646464;
$color-footer-bot-follow-us: #0478CF;
$color-border-footer-bot-sign-up-now: #0282F9;
$bg-footer-bot: #303030;
$bg-footer-bot-buttons: #797979;
