/* VARIABILI GENERALI */
$light-color: #ffffff;
$color-header-selected: #0282f9;
$bg-main: #1c1c1c;
$bg-main-jb-buttons: #0282f9;
$bg-footer-top: #0282f9;
$color-footer-mid-options: #646464;
$color-footer-bot-follow-us: #0478cf;
$color-border-footer-bot-sign-up-now: #0282f9;
$bg-footer-bot: #303030;
$bg-footer-bot-buttons: #797979;
